/node_modules
/public/hot
/public/storage
/public/assets
/public/css
/public/js
/public/fonts
/public/images
/public/mix-manifest.json
/public/vendor
/storage/mysql-data
/storage/nginx-logs
/storage/elastic-data
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
.terraform/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/reports
/.vscode
/oauth-private.key
/oauth-public.key
docker-compose.override.yml
xdebug.log
